<div class="content-wrapper">
  <div class="container">
    <section class="content">

      <div class="login-wrap p-0">
        <h1>
          Real Chat
        </h1>
        <h3 class="mb-1 text-center">Sign In</h3>
        <form class="signin-form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" ng-model="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="password">
          </div>
          <div class="form-group">
            <button  class="form-control btn btn-primary rounded submit px-3" ng-click="login()">Sign In</button>
          </div>
          <div class="form-group d-md-flex">
          </div>
        </form>
      </div>


    </section>
  </div>
</div>
