<div class="box-header with-border">
    <h3 class="box-title">{{ title }}</h3>
    <div class="box-tools pull-right">
        <a href="#{{ config.popid }}" class="lightview" data-lightview-options="skin: 'light'">
            <button data-widget="collapse" class="btn btn-box-tool" type="button">
                <i class="fa fa-expand"></i>
            </button>
        </a>
        <button class="btn btn-box-tool" type="button" ng-click="pin_graph()">
            <i class="fa fa-thumb-tack"></i>
        </button>
    </div>
</div>
<div class="box-body" ng-style="get_opacity()">
    <highchart  config="chart" style="width:auto;"></highchart>
</div>
<span style="display:none;">
    <div id="{{ config.popid }}">
        <highchart config="chart_pop" style="width:auto;"></highchart>
        <wms-tables options="events" ng-if="events"></wms-tables>
    </div>
</span>
<div class="overlay" ng-show="loaded==false">

    <i class="fa fa-refresh fa-spin"></i>

</div>