<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('opened')"> Open
            <i class="fa fa-fw" ng-class="get_col_icon('opened')"></i>
        </th>
        <th ng-click="colum_sort('modified')"> Updated
            <i class="fa fa-fw" ng-class="get_col_icon('modified')"></i>
        </th>
        <th ng-click="colum_sort('closed')"> Cleared
            <i class="fa fa-fw" ng-class="get_col_icon('closed')"></i>
        </th>
        <th ng-click="colum_sort('message')"> Alarm
            <i class="fa fa-fw" ng-class="get_col_icon('message')"></i>
        </th>
        <th ng-click="colum_sort('message')"> Triggered By
            <i class="fa fa-fw" ng-class="get_col_icon('message')"></i>
        </th>
        <th ng-click="colum_sort('acked')"> Acknowledged
            <i class="fa fa-fw" ng-class="get_col_icon('acked')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="alarm in list">
        <td>{{ alarm.opened }}</td>
        <td>{{ alarm.modified }}</td>
        <td>{{ alarm.closed }}</td>
        <td>{{ alarm.message }}</td>
        <td>
            <a ui-sref="cluster({id:alarm.trigger_id})"
               ng-show="alarm.trigger_type=='cluster'">{{ alarm.trigger_text }}</a>
            <a ui-sref="controller({id:alarm.trigger_id})"
               ng-show="alarm.trigger_type=='controller'">{{ alarm.trigger_text }}</a>
            <a ui-sref="zone({id:alarm.trigger_id})" ng-show="alarm.trigger_type=='zone'">{{ alarm.trigger_text }}</a>
            <a ui-sref="accesspoint({id:alarm.trigger_id})"
               ng-show="alarm.trigger_type=='accesspoint'">{{ alarm.trigger_text }}</a>
            <a ui-sref="node({id:alarm.trigger_id})"
               ng-show="alarm.trigger_type=='wmsnode'">{{ alarm.trigger_text }}</a>
        </td>
        <td>
            <a href="#" data-toggle="tooltip"
               title="Acknowledged By : {{ alarm.acked_by }}     Acknowledge Comment : {{ alarm.acked_comment }}      Acknowledged at : {{ alarm.acked_date }}"
               data-placement="bottom" ng-if="alarm.acked==true">
                <span style="color:green" >
                    <i class="fa  fa-check-square"></i>
                </span>
            </a>
            <span style="color:blue" ng-if="alarm.acked==false">
                <i class="fa fa-comment" ng-click="acknowledge(alarm.id)"></i>
            </span>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No alarm to display</td>
    </tr>

    </tbody>
</table>