<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('patch')">Patch
            <i class="fa fa-fw" ng-class="get_col_icon('patch')"></i>
        </th>
        <th ng-click="colum_sort('installed')">Installed
            <i class="fa fa-fw" ng-class="get_col_icon('installed')"></i>
        </th>
        <th ng-click="colum_sort('first_seen')">Install Date
            <i class="fa fa-fw" ng-class="get_col_icon('first_seen')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="patch in list">
        <td>{{ patch.patch }}</td>
        <td>
            <span ng-if="patch.installed == false " style="color:red;">
                <i class="fa fa-fw fa-close"></i>
            </span>
            <span ng-if="patch.installed == true " style="color:green;">
                <i class="fa fa-fw fa-check"></i>
            </span>
        </td>
        <td>{{ patch.first_seen }}</td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No patch to display</td>
    </tr>
</table>