<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('name')">Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('description')">Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th ng-click="colum_sort('owner')">Owner
            <i class="fa fa-fw" ng-class="get_col_icon('owner')"></i>
        </th>
        <th ng-click="colum_sort('status')">Status
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="dash in list">
        <td><a ui-sref="dashboards({id:dash.id})"> {{ dash.name }} </a></td>
        <td>{{ dash.description }}</td>
        <td>
            <a ui-sref="account({id: dash.owner_id})" ng-show="config.staff">{{ dash.owner }}</a>
            <span ng-show="!config.staff">{{ dash.owner }}</span>
        </td>
        <td>
            <i class="fa fa-lock" ng-show="dash.status=='Private'"></i>
            <i class="fa fa-users" ng-show="dash.status=='Shared'"></i>
            {{ dash.status }}
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No dashboard to display</td>
    </tr>
</table>