<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('sku')">SKU
            <i class="fa fa-fw" ng-class="get_col_icon('sku')"></i>
        </th>
        <th ng-click="colum_sort('description')">Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th ng-click="colum_sort('ap_count')">APs
            <i class="fa fa-fw" ng-class="get_col_icon('ap_count')"></i>
        </th>
        <th ng-click="colum_sort('client_count')">UEs
            <i class="fa fa-fw" ng-class="get_col_icon('client_count')"></i>
        </th>
        <th colspan="2" ng-click="colum_sort('expires')">Expires
            <i class="fa fa-fw" ng-class="get_col_icon('expires')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="license in list">
        <td>
            {{ license.sku }}
        </td>
        <td>
            {{ license.description }}
        </td>
        <td>
            {{ license.ap_count }}
        </td>
        <td>
            {{ license.client_count }}
        </td>
        <td>
            {{ license.expires }}
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No License to display</td>
    </tr>
    </tbody>
</table>