<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('node_id')">Node ID
            <i class="fa fa-fw" ng-class="get_col_icon('node_id')"></i>
        </th>
        <th ng-click="colum_sort('hostname')">Hostname
            <i class="fa fa-fw" ng-class="get_col_icon('hostname')"></i>
        </th>
        <th ng-click="colum_sort('role')">Role
            <i class="fa fa-fw" ng-class="get_col_icon('role')"></i>
        </th>
        <th ng-click="colum_sort('host_address')">IP Address
            <i class="fa fa-fw" ng-class="get_col_icon('host_address')"></i>
        </th>
        <th ng-click="colum_sort('created')">First Seen
            <i class="fa fa-fw" ng-class="get_col_icon('created')"></i>
        </th>
        <th ng-click="colum_sort('modified')">Last Seen
            <i class="fa fa-fw" ng-class="get_col_icon('modified')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="node in list">
        <td>{{ node.node_id }}</td>
        <td> <a ui-sref="node({id:node.id})">{{ node.hostname }}</a></td>
        <td>
            <i class="fa fa-fw fa-database" ng-show="node.role=='UNIVERSAL'"
               title="UNIVERSAL"></i>
            <i class="fa fa-fw fa-gear" ng-show="node.role=='WORKER'"
               title="WORKER"></i>
            <i class="fa fa-fw fa-safari" ng-show="node.role=='FRONT END'"
               title="FRONT END"></i>
            <i class="fa fa-fw fa-question" ng-show="node.role=='UNKNOWN'"
               title="UNKNOWN"></i>
            {{ node.role }}
        </td>
        <td>{{ node.host_address }}</td>
        <td>{{ node.created }}</td>
        <td>{{ node.modified }}</td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No node to display</td>
    </tr>
    </tbody>
</table>