<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('issue')">Issue
            <i class="fa fa-fw" ng-class="get_col_icon('issue')"></i>
        </th>
        <th ng-click="colum_sort('priority')">Priority
            <i class="fa fa-fw" ng-class="get_col_icon('priority')"></i>
        </th>
        <th ng-click="colum_sort('filename')">Filename
            <i class="fa fa-fw" ng-class="get_col_icon('filename')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="patch in list">
        <td>{{ patch.issue }}</td>
        <td>{{ patch.priority }}</td>
        <td>{{ patch.filename }}</td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No data to display</td>
    </tr>
</table>