<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('name')">Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('band')">Band
            <i class="fa fa-fw" ng-class="get_col_icon('band')"></i>
        </th>
        <th ng-click="colum_sort('channel')">Channel
            <i class="fa fa-fw" ng-class="get_col_icon('channel')"></i>
        </th>
        <th ng-click="colum_sort('mode')">Mode
            <i class="fa fa-fw" ng-class="get_col_icon('mode')"></i>
        </th>
        <th ng-click="colum_sort('noise_floor')">Noise Floor
            <i class="fa fa-fw" ng-class="get_col_icon('noise_floor')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="radio in list">
        <td> {{ radio.name }} </td>
        <td> {{ radio.band }} </td>
        <td> {{ radio.channel }} ( {{ radio.channel_width }}) </td>
        <td> {{ radio.mode }} </td>
        <td> {{ radio.noise_floor }} </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Radio to display</td>
    </tr>
    </tbody>
</table>