<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('session_key')">Key
            <i class="fa fa-fw" ng-class="get_col_icon('session_key')"></i>
        </th>
        <th ng-click="colum_sort('created')">Created
            <i class="fa fa-fw" ng-class="get_col_icon('created')"></i>
        </th>
        <th ng-click="colum_sort('expire_date')">Expires
            <i class="fa fa-fw" ng-class="get_col_icon('expire_date')"></i>
        </th>
        <th ng-click="colum_sort('expired')">Expired
            <i class="fa fa-fw" ng-class="get_col_icon('expired')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="session in list">
        <td>{{ session.session_key }}</td>
        <td>{{ session.created }} </td>
        <td>{{ session.expire_date }}</td>
        <td>
            <span style="color:green;" ng-if="session.expired==true">
                <i class="fa fa-fw fa-check"></i>
            </span>
            <span style="color:red;" ng-if="session.expired==false">
                <i class="fa fa-fw fa-power-off" ng-click="clear_session(session.session_key)"></i>
            </span>
        </td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No Session to display</td>
    </tr>
</table>