<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('name')"> Name
            <i class="fa fa-fw" ng-class="get_col_icon('name')"></i>
        </th>
        <th ng-click="colum_sort('description')"> Description
            <i class="fa fa-fw" ng-class="get_col_icon('description')"></i>
        </th>
        <th ng-click="colum_sort('oper')"> Operator
            <i class="fa fa-fw" ng-class="get_col_icon('oper')"></i>
        </th>
        <th ng-click="colum_sort('value')"> Value
            <i class="fa fa-fw" ng-class="get_col_icon('value')"></i>
        </th>
        <th ng-click="colum_sort('status')"> Status
            <i class="fa fa-fw" ng-class="get_col_icon('status')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="a in list">
        <td class="name">{{ a.name }}</td>
        <td class="description">{{ a.description }}</td>
        <td class="oper">
            <select ng-model="a.oper"
                    ng-change="threshold_change(a.id,a.oper,'oper')">
                <option value="0"> ></option>
                <option value="1"> >=</option>
                <option value="2"> =</option>
                <option value="3"> <</option>
                <option value="4"> <=</option>
            </select>
        </td>
        <td class="value">
            <input type="text"
                   ng-blur="threshold_change(a.id,a.value,'value')"
                   ng-model="a.value" ng-if="a.increment==-1">
            <select ng-model="a.value" ng-if="a.increment!=-1"
                    ng-options="option for option in a.values_list"
                    ng-change="threshold_change(a.id,a.value,'value')">
            </select>
            {{ a.metric }}
        </td>

        <td class="status">
            <i class="fa  fa-toggle-on"
               ng-click="threshold_change(a.id,false,'toggle')"
               ng-show="a.status==true"> </i>
            <i class="fa  fa-toggle-off"
               ng-click="threshold_change(a.id,true,'toggle')"
               ng-show="a.status==false"> </i>
        </td>
    </tr>
    </tbody>
</table>