<table class="table table-bordered">
    <tr>
        <th ng-click="colum_sort('hostname')">Hostname
            <i class="fa fa-fw" ng-class="get_col_icon('hostname')"></i>
        </th>
        <th ng-click="colum_sort('mac_address')">MAC Address
            <i class="fa fa-fw" ng-class="get_col_icon('mac_address')"></i>
        </th>
        <th ng-click="colum_sort('operating_system')">Operating System
            <i class="fa fa-fw" ng-class="get_col_icon('operating_system')"></i>
        </th>
        <th ng-click="colum_sort('first_seen')">First Seen
            <i class="fa fa-fw" ng-class="get_col_icon('first_seen')"></i>
        </th>
        <th ng-click="colum_sort('last_seen')">Last Seen
            <i class="fa fa-fw" ng-class="get_col_icon('last_seen')"></i>
        </th>
    </tr>
    <tr></tr>
    <tr ng-repeat="clientdevices in list">
        <td>
            <a ui-sref="uedevice({id:clientdevices.id})"> {{ clientdevices.hostname }}</a>
        </td>
        <td>{{ clientdevices.mac_address }}</td>
        <td>
            <i class="fa" ng-class=get_os(clientdevices.operating_system)></i> {{ clientdevices.operating_system }}
        </td>
        <td>{{ clientdevices.first_seen }}</td>
        <td>{{ clientdevices.last_seen }}</td>
    </tr>
    <tr ng-show="!list.length">
        <td colspan="100">No device to display</td>
    </tr>
</table>