<table class="table table-bordered">
    <tbody>
    <tr>
        <th ng-click="colum_sort('username')">Username
            <i class="fa fa-fw" ng-class="get_col_icon('username')"></i>
        </th>
        <th ng-click="colum_sort('first_name')">Full name
            <i class="fa fa-fw" ng-class="get_col_icon('first_name')"></i>
        </th>
        <th ng-click="colum_sort('email')" ng-hide="config.location=='db_pop'">Email
            <i class="fa fa-fw" ng-class="get_col_icon('email')"></i>
        </th>
        <th ng-click="colum_sort('tenant')" ng-hide="config.location=='db_pop'">Tenant
            <i class="fa fa-fw" ng-class="get_col_icon('tenant')"></i>
        </th>
        <th ng-click="colum_sort('action')" ng-show="config.location=='group'">Action
            <i class="fa fa-fw" ng-class="get_col_icon('action')"></i>
        </th>
        <th ng-click="colum_sort('action')" ng-show="config.location=='db_pop'">Share
            <i class="fa fa-fw" ng-class="get_col_icon('action')"></i>
        </th>
        <th ng-click="colum_sort('action')" ng-show="config.location=='db_pop'">Full access
            <i class="fa fa-fw" ng-class="get_col_icon('action')"></i>
        </th>

    </tr>
    <tr></tr>
    <tr ng-repeat="u in list">
        <td>
            <a ui-sref="account({id: u.id})" ng-show="config.staff">{{ u.username }}</a>
            <span ng-show="!config.staff">{{ u.username }}</span>
        </td>
        <td>{{ u.first_name }} {{ u.last_name }}</td>
        <td ng-hide="config.location=='db_pop'">{{ u.email }}</td>
        <td ng-hide="config.location=='db_pop'">
            <a ui-sref="tenant({id: u.tenant_id})" >{{ u.tenant }}</a>
        </td>
        <td ng-show="config.location=='group'">
            <span style="color:red;" ng-click="remove_user(u.id)" data-toggle="tooltip" title="Remove {{ u.username }} from this group">
                <i class="fa fa-fw fa-minus-square"></i>
            </span>

        </td>
        <td ng-show="config.location=='db_pop'" style="min-width: 30px;">
            <i class="fa fa-fw fa-toggle-off" ng-show="u.shared==false" ng-click="toggle_dash(u.id,'enable')"></i>
            <i class="fa fa-fw fa-toggle-on" ng-show="u.shared==true" ng-click="toggle_dash(u.id,'disable')"></i>
        </td>
        <td ng-show="config.location=='db_pop'" style="min-width: 30px;">
            <i class="fa fa-fw fa-toggle-off" ng-show="u.shared==false" ng-click="toggle_dash(u.id,'enable')"></i>
            <i class="fa fa-fw fa-toggle-on" ng-show="u.shared==true" ng-click="toggle_dash(u.id,'disable')"></i>
        </td>
    </tr>
    <tr ng-show="list.length==0">
        <td colspan="100">No user to display</td>
    </tr>

    </tbody>
</table>