<div class="content-wrapper">
  <div class="container">
    <section class="content-header">

      <h1>
        <i class="fa fa-mobile"></i>
         Real Chat
      </h1>
      <span class="pull-right"> Hello: {{ user_name }},   <a ui-sref="login">Logout <i class="fa fa-power-off"></i></a> </span>
    </section>

    <section class="content">

      <div class="col-lg-3">
        <div class="">
          <h3>Users</h3>
          <div class="bordered-box">
            <table class="table">
              <tr ng-repeat="chat in private_chats">
                <td>
                  <i class="fa fa-user"></i>
                  <a class="btn-link" ng-click="select_chat(chat.id, chat.members, false)">
                    <span> {{ get_name(chat.members) }} </span>
                  </a>
                </td>
              </tr>
              <tr ng-show="false">
                <td>
                  <a ng-click="select_user('new user', '')"> <span> Create New User </span> </a>
                </td>
              </tr>
            </table>
          </div>
          <br>
          <div class="bordered-box" ng-show="selected_user_name!== ''">
            <label>Username :</label>
            <br>
            <input type="text" class="input" ng-model="selected_user_name" placeholder="Enter username"/>
            <br>
            <br>
            <label>Password :</label>
            <br>
            <input type="text" class="input" ng-model="selected_user_pass" placeholder="Enter password"/>
            <br>
            <label>Confirm Password :</label>
            <br>
            <input type="text" class="input" ng-model="selected_user_pass" placeholder="Re Enter password"/>
            <br>
            <br>
            <div ng-show="selected_user_id !=='' " style="bottom: 5px; position: absolute">
                <button class="btn-danger" ng-click="delete_user()">
                  <i class="fa fa-trash"></i> Delete User
                </button>
              </div>
            <div style="right: 20px; position: absolute">
              <button class="btn-info" ng-if="selected_user_id !== ''" ng-click="update_user()">
                            <i class="fa fa-pencil"></i>
              Save User
            </button>
              <button class="btn-primary" ng-if="selected_user_id === ''" ng-click="create_user()">
                            <i class="fa fa-plus"></i>
              Create User
            </button>
            </div>

            <br>
          </div>
        </div>
      </div>


      <div class="col-lg-3">
        <div class="">
          <h3>Groups</h3>
          <div class="bordered-box">
            <table class="table">
              <tr ng-repeat="chat in public_groups">
                <td>
                  <i class="fa fa-users"></i>
                  <a class="btn-link" ng-click="select_group(chat.id,chat.name,chat.members, chat.created_by)">
                    <span> {{ chat.name }} </span>
                  </a>
                </td>
                <td> {{ chat.members.split(' ').length }} members</td>
              </tr>
            </table>

          </div>
          <br>
          <div class="bordered-box">
              <h3 ng-if="group_id !== ''">Group Info</h3>
              <h3 ng-if="group_id === ''">Create Group</h3>
              <label>Name : </label>
            <br>
              <input type="text" class="input" ng-model="group_name" placeholder="Enter the group name .. ">
              <br> <br>
              <label>Members: </label>
              <div ng-if="group_members.length < users.length">
                Select the member to be added
                <select ng-model="add_user" ng-change="add_user_to_group(add_user)" class="select">
                  <option ng-repeat="user in users" value="{{user.id}}" ng-if="!group_members.includes(user.id)">
                    {{ user.username }}
                  </option>
                </select>
              </div>
              <table class="table">
                <tr ng-repeat="member in group_members">
                  <td>
                    {{ get_name(member) }}
                  </td>
                  <td ng-if="group_owner === user_id || group_id === ''">
                    <button class="btn-danger pull-right" ng-click="remove_user_from_group(member)">
                      <i class="fa fa-close"></i>
                    </button>
                  </td>
                </tr>
              </table>

              <div ng-if="group_id != ''" style="bottom: 5px; position: absolute">
                <button ng-if="group_owner != user_id"
                        class="btn-danger" ng-click="leave_group()">
                  <i class="fa fa-arrow-left"></i> Leave Group
                </button>
                <button ng-if="group_owner === user_id"
                        class="btn-danger" ng-click="delete_group()">
                  <i class="fa fa-trash"></i> Delete Group
                </button>
              </div>
              <div style="right: 20px; position: absolute">
                <button ng-if="group_id != ''"
                        class="btn-info" ng-click="update_group()">
                  <i class="fa fa-save"></i> Save Group
                </button>
                <button ng-if="group_id === ''"
                        class="btn-primary" ng-click="create_group()">
                  <i class="fa fa-plus"></i> Create Group
                </button>
              </div>

            <br>

          </div>

        </div>
      </div>


      <div class="col-lg-6">
        <div class>
          <h3>Messages</h3>
        </div>
        <div class="bordered-box">
          <div ng-if="chat == ''">
            No Chat Selected!
          </div>
          <div ng-if="chat != ''">
            <h3>
              {{ chat_type ? 'Group Chat at ' : 'Conversation with ' }} {{ chat_name }}
              <button class="btn btn-sm pull-right btn-danger" ng-click="close_chat()">
                <i class="fa fa-envelope"></i>
                Hide Chat
              </button>
            </h3>
            <b ng-if="chat_type"> {{ get_name(group_owner) }} Created this {{ group_name }} group </b>
            <div ng-repeat="msg in messages">
              <div ng-if="msg.sender !== user_id">
                <i class="fa fa-user"></i>
                <b>{{ get_name(msg.sender) }}</b> Says : <span>{{ msg.content }}</span>
              </div>
              <div ng-if="msg.sender === user_id">
                <span class="pull-right">{{ msg.content }} <b>: Me</b></span>
              </div>
              <br>
            </div>
            <br>
            <input type="text" ng-model="content_text" class="input-lg">
            <button class="btn-lg btn-success" ng-click="send_message()">
              <i class="fa fa-paper-plane"></i>
              Send
            </button>
          </div>
        </div>
        <br>
      </div>

    </section>
  </div>
</div>
